


.card{
   margin-top: 20px;
   margin-left: 20px;
}

body{
  background-color: #7DF9FF;
}

div{
  float: left;
}

button{
  float: left;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  margin-left: 72px;
}

